<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="sign_in">
		<h2>Sign up</h2>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, unique: true %></div>

		  <div><%= f.label :password %><br />
		  <%= f.password_field :password %></div>

		  <div><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %></div>

		  <div><%= f.submit "Sign up" %></div>
		<% end %>

		<!-- <%= render :partial => "devise/shared/links" %> -->

		</div>
    <!-- end_of:Main hero unit for a primary marketing message or call to action -->
  <hr>
</div> <!-- /container -->

<footer>
  <p>&copy; Djengo 2012</p>
</footer>