= div_for comment do
  %p
    %strong.strong1.strong12= l(comment.time)
    \-&nbsp;
    %strong.strong1.strong12= comment.user_email
    \ :&nbsp; #{comment.content} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    %strong.strong1.strong12= distance_of_time_in_words_to_now(comment.time)