<%= form_for [@article, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field-small">
    <%= f.label :time %><br />
    <%= f.text_field :time, :value => Time.new.to_s[0..15] %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
