<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit-span8">
		<p id="notice"><%= notice %></p>

		<p>
		  <b>Content:</b>
		  <%= @comment.content %>
		</p>

		<p>
		  <b>Time:</b>
		  <%= @comment.time %>
		</p>

		<p>
		  <b>Article:</b>
		  <%= @comment.article_id %>
		</p>

		<p>
		  <b>User:</b>
		  <%= @comment.user_id %>
		</p>


		<%= link_to 'Edit', edit_comment_path(@comment) %> |
		<%= link_to 'Back', comments_path %>
  
    </div>
    <!-- end_of:Main hero unit for a primary marketing message or call to action -->
  <hr>
</div> <!-- /container -->
<footer>
    <p>&copy; Djengo 2012</p>
</footer>