.container
  .hero-unit
    - @articles.each do |article_published_or_not|
      - if article_published_or_not.time < Time.now
        - @published_article_quantity += 1
    %h2= t('.article_quantity', :count => @article_quantity)
    %h2= "Cependant, " + t('.published_article_quantity', :count => @published_article_quantity) + ", et voici leur liste :"
    %hr
      %table
        %tr
          %td
            %strong= t('.subject') + ":"
          %td
            %strong= t('.category') + ":"
          %td
            %strong= t('.posted') + ":"
          %th
        - @articles.each do |article|
          - if article.time < Time.now
            %tr
              %td.span9= link_to article.subject, article
              %td.span5= link_to article.category, article
              %td.span5= link_to l(article.time), article
              %td.span5= link_to t('.show')  , article, :class => 'btn full-right'
      %hr
        = link_to t('.new_article') , new_article_path, :class => 'btn full-right'
  %hr
%footer
  %p © Djengo 2012