<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit-span8">
      <h1>Listing articles</h1>
      <hr>
        <table>
          <tr>
            <td><strong>Subject</strong></td>
            <td><strong>Category</strong></td>
            <td><strong>Posté le </strong></td>
            <th></th>
          </tr>
        <% @articles.each do |article| %>
          <tr>
            <td class="span6"><%= link_to article.subject, article %></td>
            <td class="span5"><%= link_to article.category, article %></td>
            <td class="span5"><%= link_to article.time, article %></td>
            <td class="span5">&nbsp;<%= link_to 'Show', article, :class => 'btn full-right' %></td>
          </tr>
        <% end %>
        </table>
        <hr>
          <%= link_to 'New Article', new_article_path, :class => 'btn full-right' %>
        <br />
        
    </div>
    <!-- end_of:Main hero unit for a primary marketing message or call to action -->
  <hr>
</div> <!-- /container -->
<footer>
    <p>&copy; Djengo 2012</p>
</footer>