.container
  / Main hero unit for a primary marketing message or call to action
  .hero-unit
    %p#notice= notice
    %p
      %span
        %b.strong1= t(:subject) + ":"
        = @article.subject
      - if current_user.id == @article.user_id
        %span.full-right
          = link_to 'Edit', edit_article_path(@article), :class => 'btn  btn-primary'
          = link_to 'Destroy', @article,  :class => 'btn btn-warning', confirm: 'Are you sure?', method: :delete
    %p
      %b.strong1= t(:from) + ":"
      = @article.user_email
    %p
      %b.strong1= t(:category) + ":"
      = @article.category
    %hr
      %p
        %b.strong1= t(:content) + ":"
        %br
        %br
        = @article.content
      %p
        %span.full-right
          %b.strong1
            = l(@article.time)
      %hr
        #comments
          - @comments.each do |comment|
            = render comment
        %hr
        = form_for @comment, :url => article_comments_path(@article), :remote => true do |f|
          - if @comment.errors.any?
            #error_explanation
              %h2
                = pluralize(@comment.errors.count, "error")
                prohibited this comment from being saved:
              %ul
                - @comment.errors.full_messages.each do |msg|
                  %li= msg
          .field
            %b Comment :
            = f.text_field :content
          .actions
            = f.submit
          %p
            = link_to t(:back) , articles_path, :class => 'btn btn-primary'
            %span.full-right
              = link_to t(:comment), new_article_comment_path(@article), :class => 'btn'
  / end_of:Main hero unit for a primary marketing message or call to action
  %hr
/ /container
%footer
  %p.strong1.full-right © Djengo 2012