<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
	    <div class="hero-unit-large">
	    	<p id="notice"><%= notice %></p>

  			<p>
          <span><b>Subject:</b><%= @article.subject %></span>
          <% if current_user.id == @article.user_id %>
            <span class='full-right'>
              <%= link_to 'Edit', edit_article_path(@article), :class => 'btn  btn-primary'%>
              <%= link_to 'Destroy', @article,  :class => 'btn btn-warning', confirm: 'Are you sure?', method: :delete %>
            </span>     
        <% end %>
  			</p>
  			<p>
          <b>From:</b> <%= User.find(@article.user_id).email %>
        </p>
        <p>
          <b>Category:</b> <%= @article.category %>
        </p>
        <hr>
  			<p>
  			  <b>Content:</b> <%= @article.content %>
  			</p>
        <p>
        <span class="full-right"><b>Time:</b><%= @article.time %></span>
        </p>
        <hr>

        <div>
          <% @article_array.each do |comment|
              if comment.article_id == @article.id %>
              <p>
                <b><%= User.find(comment.user_id).email %></b> : <%= comment.content %>
              </p>  
          <%  end
          end -%>
        </div>

        <hr>
        <p> 
          <%= link_to 'Back', articles_path, :class => 'btn btn-primary' %>
          <span class='full-right'>
             <%= link_to 'Comment', new_article_comment_path(@article), :class => 'btn' %>
          </span>
        </p>
    </div>
    	<!-- end_of:Main hero unit for a primary marketing message or call to action -->
  <hr>
</div> <!-- /container -->

<footer>
    <p>&copy; Djengo 2012</p>
</footer>
