<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit-span8">
      <h1>Listing users</h1>
      <hr>
        <table>
          <tr>
            <td><strong>Subject</strong></td>
            <td><strong>Category</strong></td>
            <td><strong>Posté le </strong></td>
            <!-- <th></th> -->
          </tr>
        <% @users.each do |user| %>
          <tr>
            <td class="span6"><%= link_to user.id, user %></td>
            <td class="span6"><%= link_to user.email, user %></td>
            <td class="span5"><%= link_to user.password, user %></td>
          </tr>
        <% end %>
        </table>
        <hr>
        <hr>
        <a href=""><%= current_user.id %></a>
        <hr>
        <hr>
          <%= link_to 'New Article', new_user_registration_path, :class => 'btn full-right' %>
        <br />
        
    </div>
    <!-- end_of:Main hero unit for a primary marketing message or call to action -->
  <hr>
</div> <!-- /container -->

<footer>
    <p>&copy; Djengo 2012</p>
</footer>