<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "BlogForDjengo", root_path, :class => "brand" %>
          <!-- <a class="brand" href="">BlogForDjengo</a> -->
          ><div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Article", articles_path %></li>
              <li><%= link_to "About", aboutus_informations_path %></li>
              <li><%= link_to "Equipe", equipe_informations_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
              <li></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      	<h2>A propos de djengo</h2>
        <div class="hero-unit-small-paragraph">
      		<p>Djengo, c&rsquo;est l&rsquo;histoire de 4 jeunes dipl&ocirc;m&eacute;s entrepreneurs qui pensent encore pouvoir changer le monde. R&ecirc;ve ou r&eacute;alit&eacute; ?</p>
      		<p>Il s&rsquo;agit d&rsquo;une start-up web innovante favorisant le covoiturage pour les petites et moyennes distances. Gr&acirc;ce &agrave; djengo, vous pouvez d&eacute;sormais r&eacute;server votre trajet en quelques secondes.</p>
        </div>
    		<%= link_to 'More', 'aboutus_more', :class => 'btn btn-primary btn-large', %>
      </div>

      <h1>&nbsp;&nbsp;&nbsp; Equipe</h1>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h3>Tanguy</h3>
           <p>c&rsquo;est le st&eacute;r&eacute;otype de l&rsquo;entrepreneur stress&eacute; mais ultra motiv&eacute;. Un vrai &laquo; networker &raquo; qui agrandit sans cesse son r&eacute;seau. Lorsque vous lui pr&eacute;sentez un projet, il voit directement qui pourrait vous aider ou quels sont vos concurrents....</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span6">
          <h3>David</h3>
          <p>c&rsquo;est le gars pos&eacute; toujours de bonne humeur. Passionn&eacute; par l&rsquo;informatique et les syst&egrave;mes de r&eacute;seaux, il cr&eacute;e nos algorithmes. En dehors de cela, il prend soin de son corps en faisant du sport quotidiennement....
          </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h3>Anissia</h3>
           <p>c&rsquo;est la fille du groupe, celle qui a du caract&egrave;re &agrave; revendre et qui ne passe jamais &agrave; c&ocirc;t&eacute; d&rsquo;un d&eacute;tail. Elle est l&rsquo;arme de communication de Djengo. ....</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span6">
          <h3>Guillaume</h3>
          <p>c&rsquo;est le visionnaire qui vous enchante sans cesse et vous incite &agrave; vous surpasser. Il est passionn&eacute; par l&rsquo;innovation et la consommation collaborative. Sa vie d&rsquo;entrepreneur est d&eacute;di&eacute;e &agrave; l&rsquo;utilisation des nouvelles technologies pour la cr&eacute;ation d&rsquo;outils aidant les communaut&eacute;s &agrave; s&rsquo;organiser....
          </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Djengo 2012</p>
      </footer>

      </div> <!-- /container -->
